.aboutUs {
    background-image: url(../img/aboutUsBG.png);
    height: 87vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
.aboutUsSloganFix {
    color: #ffffff;
    display: inline-block;
    margin-top: 100px;
    margin-left: 653px;
    margin-bottom: 25px;
}
.parentheses {
    margin-left: 937px;
    margin-top: 68px;
    width: 47px;
height: 33px;
}
.whatSay {
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
width: 1160px;
color: #BBBBBB;
margin-left: 379px;
}
.name {   
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 27px;
text-transform: uppercase;
color: #18CFAB;
}
.position {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    width: 1160px;
    color: #BBBBBB;  
margin-left: 352px;}