.breakingNewsSection {
    margin-top: 82px;
    margin-bottom: 130px;
}

.breakinkNewsMain {
    width: 1160px;
    margin-left: 399px;
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 44px;
    }

.newsInfo {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}

.autor {
    font-family: Montserrat;
font-weight: 300;
font-size: 13.991px;
line-height: 39px;
color: #777777;
}

.dateSquare {
    display: flex;
    margin-left: 193px;
    justify-content: center;
    position: absolute;
width: 70px;
height: 68px;
background: #203E38;
}
.date {
    font-family: Montserrat;
font-weight: normal;
font-size: 15.9897px;
line-height: 25px;
color: #FFFFFF;
}
.comment {
    width: 1160px;
    height: 45px;
    margin-left: 379px;
    margin-top: 36px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #BBBBBB
}