footer {
    height: 121px;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerInfo {
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #AEAEAE;
}
.footerHighlighted {
    color: #19BC9E;
}

.pt48 {
    padding-top: 48px;
}