.installSection {
    background-image: url(../img/backgroundInstall.png);
    height: 49vh;  
    background-repeat: no-repeat;
/* margin-bottom: 96px; */
}

.installNow {
    font-family: Montserrat;
font-weight: bold;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: #18CFAB;
}
.mt127 {
    display: flex;
    margin-top: 127px;
    justify-content: center;
}

.recom {
    font-family: Montserrat;
font-weight: normal;
font-size: 16px;
line-height: 40px;
display: flex;
justify-content: center;
color: #D8D8D8;
}
