.worksMain {
    display: flex;
    justify-content: center;
    margin-top: 69px;
background: rgba(0, 0, 0, 0.0001);
margin-bottom: 71px;
}
.worksItem {
width: 195px;
height: 58px;
border: 1px solid #DADADA;
margin-top: 14px;
font-family: Montserrat;
font-style: normal;
font-size: 14px;
line-height: 42px;
color: #717171;
display: flex;
justify-content: center;
}

.workExemple {
    margin-left: 380px;
    width: 1140px;
    height: 168px;
    display: inline-block;
}
.workItems {
    width: 282px;
    height: 206px;
}

.worksItem:hover {
    border: 1px solid #18CFAB;  
    color: #18CFAB;
}
.worksButton {
    margin-left: 876px;
    margin-bottom: 9px;
}
.ourWorkSection {
background: #E9EDEF;
}

.grey {
    width: 100vw;
    height: 95px;
background: #E9EDEF
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes a1{
    to {
          opacity: 0;
          min-height: 0; 
          min-width: 0;
          padding: 0;
          margin: 0;
          border: 0;
    } 
  }
