.services {
    margin-top: 83px;
}
.mainSlogan {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.mb28 {
    margin-bottom: 28px;
}

.separator {
 width: 79px;
height: 2px;
background: #3da893;
border: none;
}

.ml { 
    margin-left: 910px;
}

.servicesLinks {
    list-style-type: none;
    display: flex;
}

.servicesItems {
width: 195px;
height: 76px;
font-family: Montserrat;
font-weight: normal;
font-size: 15.9859px;
line-height: 39px;
display: flex;
align-items: center;
justify-content: center;
color: #717171;
background: #F8FCFE;
border: 1px solid #EDEFEF;

}
.servicesMain {
    margin-top: 69px;
display: flex;
justify-content: center;
}

.servicesCont {
display: flex;
justify-content: center;
margin-top: 23px;
margin-bottom: 91px;
}
.webDesignPar {
    width: 952px;
    height: 136px;
    font-family: Montserrat;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;
margin-left: 15px;
}

.servicesItems:hover {
    border: 1.5px solid #18CFAB; 
}


.hidden {
    display: none;
}

.btn-danger.active {
    background: #18CFAB;
    color: #FFFFFF;  
}