/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


.slider {
    position: relative;
    padding: 0px 60px;
    width: 420px;
    margin-top: 44px;
    margin-left: 718px;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -15px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 31px;
    height: 31px;
    border: none;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/aboutUs/arrowPrev.png) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url(../img/aboutUs/arrowNext.png) 0 0 / 100% no-repeat;
}
.slider_item {
   
}
 
.sliderBig {

}
.sliderBig_item {
    text-align: center;
}