@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('./services.css');
@import url('./instalSection.css');
@import url('./ourWorkSection.css');
@import url('./breakingNewsSection.css');
@import url('./aboutUs.css');
@import url('./footer.css');
@import url('./slider.css');
 .container {
    max-width: 100vw;
}

.main-header {
    background-image: url(../img/headerImg.png);
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 150px;
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navBar {
    display: flex;
    width: 100%;
height: 120px;
background-color: rgba(94, 93, 88, 0.6);
}
.logo {
    margin-left: 380px;
    margin-top: 26px;
}
.hamName {
    margin-top: 38px;
    font-family: Montserrat;
font-size: 32px;
line-height: 48px;
color: #FFFFFF;
}
.highLightedText {
    font-weight: bold;
    color: #18CFAB;;
}
.navBarItems {
    list-style-type: none;
    display: flex;
}
.navBarLinks {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
.navItem {
    margin-left: 21px;
    margin-top: 52px;
font-family: Montserrat;
font-weight: bold;
font-size: 16px;
line-height: 24px; 
}
.menu {
    display: flex;
    margin-left: 305px;
}
.searchIcon {
    margin-left: 21px;
    margin-top: 52px;
}
.hamIs {
    margin-left: 642px;
    margin-top: 264px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 1px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 80px;
}
.whoWe {
    margin-left: 559px;
    font-family: Montserrat;
font-weight: bold;
font-size: 78px;
line-height: 1px;
text-transform: uppercase;
color: #FFFFFF;
}
.buyAndEnjoy {
    display: flex;
    margin-left: 562px;
    margin-top:50px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 1px;
color: #D4D4D4;
}

.button {
    border-radius: 5px;
    padding: 19px 27px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
  }
  .greenButton {
    background-color: #18CFAB;
    border: 6px solid #18CFAB;
    /* margin-left: 778px; */
    margin-top: 134px;
  }
  .blueButton {
      background-color: #00CBF6;
      border: 6px solid #00CBF6;
      /* margin-left: 26px; */
      margin-top: 134px;
  }
.buttonMain {
    display: flex;
    justify-content: center;
}
.mr26 {
    margin-right: 26px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.options {
    display: flex;
}